body {
    background-color: grey;
    color: rgb(68, 229, 32);
    font-family: "Macondo", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: dimgrey;
    color: chartreuse;
    font-family: "Macondo", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}